*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

h1 {
    color: #dedede;
    font: 35px;
    text-align: center;
    margin-top: 100px;
}

.conteiner-img {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    gap: 40px;
    margin-top: 100px;
    position: relative;
}

.conteiner-img .img-fachada {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: last baseline;
    gap: 20px;
    
}

.conteiner-img .img-fachada .img-2 {
    width: 100%;
    border-radius: 10px;
    height: 280px;
}

.conteiner-img p, .conteiner-img-3 p {
    font-size: 24px;
    color: #dedede;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.conteiner-img p img {
    width: 48%;
    height: 280px;
    border-radius: 10px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}

.conteiner-img  p span, .conteiner-img-3 p span {
    color: #dedede;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
    
}


.conteiner-img-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.conteiner-img-2 .img-fachada {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.conteiner-img-2 .img-fachada img {
    width: 48%;
    border-radius: 10px;
}

.conteiner-img-2 p {
    width: 100%;
    font-size: 24px;
    color: #dedede;
    text-align: center;

}

.conteiner-img-2 p span {
    color: #dedede;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.conteiner-img-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 100px;
}

.conteiner-img-3 img {
    width: 48%;
    border-radius: 10px;
}


@media (max-width: 600px) {

    h1 {
        color: #dedede;
        font: 35px;
        text-align: center;
        margin-top: 40px;
    }

    /* IMAGENS FACHADAS */

    .conteiner-img {
        flex-direction: column-reverse;
        width: 90%;
        height: auto; 
        gap: 40px;
        margin-top: 40px;
    }
    
    .conteiner-img .img-fachada {
        width: 100%;
    }
    
    .conteiner-img .img-fachada .img-2 {
        width: 100%;
    }
    
    .conteiner-img p, .conteiner-img-3 p {
        width: 100%;
        text-align: center;
    }
    
    .conteiner-img p img {
       display: none;
    }
    
    /* IMAGENS INTERNAS */
    
    .conteiner-img-2 {
        width: 90%;
    }
    
    .conteiner-img-2 .img-fachada {
        flex-direction: column;
    }
    
    .conteiner-img-2 .img-fachada img {
        width: 100%;
    }

    /* IMAGENS SALA DE DANÇA*/

    .conteiner-img-3 {
        flex-direction: column-reverse;
        width: 90%;
       
    }
    
    .conteiner-img-3 img {
        width: 100%;
    }
    
    




}

