*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* FORMATAÇAO DE ANIMAÇÕES */
@keyframes slideIn {
  to {
    top: 0; /* move para a posição superior 0 (dentro do contêiner) */
  }
}

.slider-left {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform:  translateX(-100px);
}

.slider-right {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform:  translateX(20px);
}

.show, .show2 {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform:  translateX(0);
}

/* FIM DE ANIMAÇÕES */


/* WHATS FIXO */
.whatsFixo {
  position: fixed;
  bottom: 20px;
  right: 40px;
}
.whatsFixo img{
  width: 60px;
}

body  {
  background-image: linear-gradient(to top, #000000, #420f1d, #820327, #c20023, #ff0000);
  height: 100%;
  background-repeat: no-repeat;
  position: relative;}

.btn-button {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color:#820327;
  font-size: 1rem;
  box-shadow: none;
  border: #000 1px solid;
  margin-top: 20px;
}

.btn-button:hover {
  background-color: #c30606;
}



/* ------------------------- COMEÇANDO O HEADER ---------------------*/
header {
  width: 87%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  top: -100px;
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    top: 0; /* move para a posição superior 0 (dentro do contêiner) */
  }
}

.title-links {
  display: block;
  position: absolute;
  right: 0;
}

.desktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 160px;
  
}

.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .5s;
  margin: 0 auto;
}

.menu-desktop:hover a {
  opacity: .5;
}

header .desktop .menu-desktop a {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 1.5rem;
  padding: 2px 8px;
  transition: ease-in-out .2s;
  position: relative;
}

header .desktop .menu-desktop a:hover {
  opacity: 1;
  transform: scale(1.1);
}

header .desktop .menu-desktop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#820327;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s;
}


header .desktop .menu-desktop a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.fa-facebook {
  color: #3924dd;
  background-color: #f8f8f8;
  border-radius: 50%;
}

.fa-instagram {
  color: #f8f8f8;
}

.menu-mobile {
  display: none;
  margin-bottom: 10px;
  transition: 0.6s ease-in-out;
}

.menu-mobile a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #f8f8f8;
  width: fit-content;
  margin: 0 auto;
  padding: 3px 20px;
}

.menu-mobile:hover a {
  opacity: .5;
}

.menu-mobile a {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 1.5rem;
  padding: 2px 8px;
  transition: ease-in-out .2s;
  position: relative;
}

.menu-mobile a:hover {
  opacity: 1;
  transform: scale(1.1);
}

 .menu-mobile a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#820327;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s;
}


.menu-mobile a:hover::before {
  transform-origin: left;
  transform: scaleX(1);

}

.menu-desktop .mobile {
  display: none;
}



.Navegar {
  display: flex;
  width: 100px;
  padding: 10px;
  background-color:#ff0000;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f8f8f8;
  transition: .5s;
  border: none;
  border-radius: 5px;
}

  
.Navegar:hover {
  color: #f8f8f8;
  background-color: #420f1d;
}

.Navegar a {
  text-decoration: none;
  color: #f8f8f8;
  text-align: center;
  margin: 0 auto;
}

.desktop .mobile {
  display: none;
}

/* ---------------- START IN THE FOOTER -------------------------*/
.borderfooter {
  margin-top: 40px;
  border: solid 1px black;
}

footer {
  width: 100%;
  height:  300px;
  background-color: #f8f8f8;
  padding-top: 100px;
}

.box-footer {
  display: flex;
  
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.title-logo {
  font-size: 1.3rem;
  color: #0f0f0f;
}

.text-content-footer {
  font-size: 0.8rem;
}

.linkFooter {
  display: flex;
  gap: 30px;
}

.linkFooter > a > i {
  color: #0f0f0f;
  text-decoration: none;
}


.text-footer {
  color: #0f0f0f;
  font-size: 1.2rem;
  font-weight: 300;
}


footer hr {
  color: #0f0f0f;
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
}

.copy-right {
  text-align: center;
  color: #0f0f0f;
  font-size: .8rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

footer p a {
  text-decoration: none;
  font-weight: 800;
  color: #0f0f0f;
}

footer p a:hover {
  border-bottom: solid 2px #000000;
  transform: scale(1.1);
}



/* ------------------------------ INICIO RESPONSIVO HEADER ----------------------------------*/ 

@media (min-width: 650px) and (max-width: 1280px) {
  header .desktop {
    padding: 0;
  }

  .box-footer {
    padding-inline: 5%;
  }



}
 

  @media screen and (max-width: 920px) {
    header {
      width: 100%;
    }

    .desktop {
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 0px;
      margin: 0px;
      gap: 0px;
    }

    .menu-desktop {
      width: 70%;
    }

    
    header .Navegar {
      display: none;
      text-align: center;
      margin: 0 auto;
      padding: 3px 20px;
      background-color: none;
    }

    .desktop i {
      display: none;
      color: #f8f8f8;
      font-size: 36px;
      margin-right: 20px;
    }


    .menu-mobile {
      display: none;
    }
    
    
    

    .menu-mobile i {
      font-size: 35px;
      color: #f8f8f8;
      position: absolute;
      top: 25px;
      right: 40px;
    }

    .logo {
    
      width: 60px;
      height: 60px;
    }

  }




  


@media (min-width: 300px) and (max-width: 700px) {
      header {
        text-align: center;
        margin-bottom: 30px;
        display: block;
        width: 100%;
      }

      header  .desktop {
        width: 90%;
        display: flex;
        align-items: center;
      }

      header  .desktop .Navegar {
        display: none;
      }

      header  .desktop i {
        display: flex;
        color: #f8f8f8;
        font-size: 35px;

      }

      .menu-desktop {
        display: none;
      }

      .menu-mobile{
       display: none;
      }

      .menu-mobile a {
        margin: 0 auto;
      }

      .menu-mobile .Navegar {
        margin: 0 auto;
        padding: 3px 20px;
        background-color: transparent;
      }
    

      .menu-mobile i {
        font-size: 35px;
        color: #f8f8f8;
        position: absolute;
        top: 25px;
        right: 40px;
      }

     
  
      .logo {
        margin: 10px 30px;
        width: 60px;
        height: 60px;
      }



      


      /* ---------------- START IN THE FOOTER -------------------------*/
    .borderfooter {
      margin-top: 40px;
      border: solid 1px black;
    }

    footer {
      width: 100%;
      height:  300px;
      background-color: #f8f8f8;
      padding-top: 50px;
    }
    
    .box-footer {
      display: block;
      padding: 0 10px;
      width: 100%;

    }
    
    .title-logo {
      text-align: center;
    }
    
    .text-content-footer {
      text-align: center;
    }
    
    .linkFooter {
      display: flex;
      gap: 30px;
      justify-content: center;
    }
    
    
    .copy-right {
      text-align: center;
      color: #0f0f0f;
      font-size: .7rem;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  
} 
