/* --------------------------------------START IN THE MAIN ------------------------------*/

#home .home {
  background-color: #740707;
  border-radius: 5px;
}

.SliderDestaque img {
  width: 87%;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 40px;
  z-index: auto;
}

.carrocelresponsivo {
  margin: 0 auto;
  animation: slideIn 1s forwards;
  position: relative;
  top: -200px
}


.imgresponsivo{
  display: none;
}

.imgSlider1 {
  display: none;
}

.imgSlider2 {
  display: none;
}

.espaco-grade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1700px;
  margin: 40px auto;
}


.contentmain, .grade-aulas {
  width: 100%;
  max-width: 1700px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.box-img-text-content-main {
  width: 50%;
  overflow: hidden;
}

.box-img-text-content-main img {
  height: 500px;
  width: auto;
  
}

.box-text-content-main-2 {
  background-color: #f8f8f8;
  width: 50%;
}

.box-text-content-main-2 ul {
  text-align: justify;
  width: 45%;
  margin: 0 auto;
}

.box-text-content-main {
  background-color: #f8f8f8;
  width: 50%;
}

.box-text-content-main h2{
  text-align: center;
  padding: 50px;
  margin-top: 40px;
  
}

.contentmain h2, .grade-aulas h2 { 
  color: #0f0e0e;
  font-size: 1.5rem;
  margin-top: 50px;
}


.contentmain a, .grade-aulas a {
  text-decoration: none;
}

.buttoncontentmain {
  display: block;
  width: 190px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color:#820327;
  font-size: 1.1rem;
  box-shadow: none;
  border: '#000' 1px solid;
  color: #f8f8f8;
  margin: 0 auto;
  margin-bottom: 30px;

  animation-name: anime-button;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes anime-button {
  0% {
    transform: scale(1);
  } 
  100% {
    transform: scale(1.05);
  }
}

.buttoncontentmain:hover {
  color: #f8f8f8;
  background-color: #c30606;
  transition: 0.9s;
}


/* COMEÇANDO O PROJETO MOVE DANCE */

.exchange {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 40px;
  background-color: #570505;
}

.exchangephotos{
  display: block;
  width: 700PX;
}

.exchangephotos img {
  width: 700px;
}

.exchangetext {
  text-align: center;
}

.exchangetext ul li {
  list-style: none;
  color: #f8f8f8;
  font-size: 19px;
}

.exchangetext a {
  color: #ea1d1d;
  text-decoration: none;
}

.exchangetext a:hover {
  color: #000;
  background: #f8f8f8;
  padding: 3px;
  border-radius: 5px;
}

.exchange h2 {
  text-align: center;
  color: #f8f8f8;
  font-size: 50px;
}

.exchange p {
  color: #f8f8f8;
  text-align: center;
  font-size: 19px;
  padding-inline: 40px;
}

.midias-sociais {
  width: 100%;
  background-color: #0f0e0e;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}

.midias-sociais h2 {
  margin: 40px auto;
  color: #f8f8f8;
}

.midias-sociais .midias-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.midias-sociais .midias-links .midias-links-itens  a{
  margin-inline: 40px;
}

.midias-sociais .title-links .linkFooter {
  display: flex;
}







/* ------------------------------------------------ RESPONSIVO MAIN ----------------------------------*/

@media (min-width: 650px) and (max-width: 1280px) {
  .SliderDestaque img {
    width: 90%;
    height: 300px;
  }

  .exchange {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    background-color: #0d0c0c99 ;
    border-top-left-radius:  40px;
    border-bottom-left-radius: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .exchangephotos{
    display: block;
    text-align: right;
  }
  
  .exchangephotos img {
    width: 500px;
  }
}

/* CORREÇÕES PARA AS PARTES DE EXCHANGE */
@media (min-width: 651px) and (max-width: 1000px) {
  .exchange {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-top-right-radius: 40px;
    margin-top: 30px;
  }
  .exchangephotos{
    display: flex;
    text-align: center;
  }
  .exchangephotos{
    display: block;
    width: 100%;
  }

  .exchangephotos img {
    width: 49%;
  }

  .exchange h2 {
    padding: 5px;
  }

  

}



@media screen and (max-width: 650px) {
  
  .SliderDestaque img {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
  }

  .espaco-grade {
    flex-direction: column;
  }


  .contentmain {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }


  .contentmain h2 { 
    text-align: center;
    color: #f8f8f8;
    font-size: 35px;
    margin-top: 20px;
  }
  
  .contentmain p {
    color: #f8f8f8;
    font-size: 16px;
  }

  .buttoncontentmain {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color:#820327;
    font-size: 1.2rem;
    box-shadow: none;
    border: '#000' 1px solid;
    
  }



/* COMEÇANDO A PARTE DA GRADE DE AULAS E DO ESPAÇO FISICO */
  .espaco-grade {
    flex-direction: column; 
    width: 100%;
  }
  
  
  .contentmain {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }

  .grade-aulas {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  
  .box-img-text-content-main {
    width: 100%;
  }
  
  .box-img-text-content-main img {
    height: 250px;
    width: 100%;
    
  }
  
  .box-text-content-main-2 {
    background-color: #f8f8f8;
    width: 100%;
  }
  
  .box-text-content-main-2 ul {
    text-align: justify;
    width: 45%;
    margin: 0 auto;
  }
  
  .box-text-content-main {
    background-color: #f8f8f8;
    width: 100%;
  }
  
  
  
  .contentmain h2, .grade-aulas h2 { 
    color: #0f0e0e;
    font-size: 1.3rem;
    padding-inline: 5%;
  }
  

  /* COMEÇANDO AS MIDIAS ACIMA DO FOOTER */
  
  
  .midias-sociais .midias-links {
    margin: 10px auto;
  }
  
  .midias-sociais .midias-links .midias-links-itens  a{
    margin-inline: 10px;
  }

 

  /* COMEÇANDO A PARTE DO PROJETO MOVE DANCE */
  .exchange {
    width: 100%;
    display: block;
    
    
  }
  
  .exchangephotos{
    width: 100%;
    text-align: center;
  }

  .exchangephotos img {
    width: 100%;
  }

  
  .exchangetext {
    text-align: center;
    padding-top: 15px;
  }
  
  .exchangetext ul li {
    list-style: none;
    color: #f8f8f8;
    font-size: 19px;
  }
  
  .exchangetext a {
    color: #ea1d1d;
    text-decoration: none;
  }
  
  .exchangetext a:hover {
    color: #000;
    background: #f8f8f8;
    padding: 3px;
    border-radius: 5px;
  }
  
  
  .exchange h2 {
    text-align: center;
    color: #f8f8f8;
    font-size: 50px;
  }
  
  .exchange p {
    color: #f8f8f8;
    text-align: center;
    font-size: 19px;
  }

  
}

