* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body  {
    background:  #820327;
    height: 100%;  
    font-family: "Poppins";
}

.btn-voltar  {
    padding: 40px;
    color: #f8f8f8;
    font-size: 2rem;
}

summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    font-size: 1.6rem;
}



summary i {
    font-size: 12px;
    color: #212020;
}

h2 {
    color: #dedede;
    text-align: center;
    margin-top: 100px;
}

.corpo-pagina {
    width: 70%;
    margin: 0 auto;
    background-color: #dedede;
    margin-top: 40px;
    border-radius: 3px;
    margin-bottom: 300px;
}


.titulo-modalidade {
    display: flex;
    border-radius: 3px;
}

.item-modalidade {
    text-align: center;
    border-bottom: #212020 1px solid;
}



.titulo-modalidade[open] .item-modalidade i, .turno[open] .item-turno i {
    transform: rotate(90deg);
    transition: ease-in-out .5s;
}

.item-turno {
    background-color: #302f2fe2;
    text-align: center;
    display: flex;
    align-items: center;
    color: #dedede;
    border-bottom: 1px solid #dedede ;
}

.item-turno span {
    width: 95%;
    text-align: center;
    font-weight: bold;
}

.item-turno i {
    color: #dedede;
}

table {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #dedede;
}

.baby {
    background-color: #f043d0;
}

.basico {
    background-color: #a3413a;
}

.intermediario {
    background-color: #a01313;
}

.infanto-juvenil {
    background-color:#e25b5b ;
}

.adulto {
    background-color: #e38383;
}

.lady {
    background-color: #421111;
}

.jazz-kids {
    background-color: #501777;
}

.jazz-modern {
    background-color: #774f4f;
}

.marcelos-move {
    background-color: #db1010;
}

.yoga {
    background-color: #156a49;
}

.chair {
    background-color: #826435;
}

.gr {
    background-color: #103879;
}

.popular {
    background-color: #2c1ca9;
}

.hip-hop {
    background-color: #cac116;
}

.pilates {
    background-color: #229f6f;
}

.latinas {
    background-color: #e25b5b;
}
table thead {
    background-color: #db1010;
}

table thead tr th {
    color: #dedede;
}
th, td {
    border: 1px solid #dedede;
}


.credits {
    text-align: center;
}



form {
    z-index: 9;
}


@media (max-width: 600px) {
    .corpo-pagina {
        width: 95%;
    }
}
